
.border-pane{
    -fx-border-color: rgb(212, 212, 212);
}
.login-gridpane{
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.705), 8, 0, 3, 3);
}
.dashboard{
    -fx-background-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-color: rgb(235, 235, 235);
}
.dashboard , .seller .gridpane{
    -fx-background-color: #ffffff;
    -fx-text-fill: rgb(0, 0, 0);
}
.dashboard .title{
    -fx-background-color: #ffffff;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-border-width: 1px;
    -fx-border-color: rgb(234, 234, 234);
    -fx-margin: 5px;

}
.dashboard .toolbar{
    -fx-border-width: 1px;
    -fx-border-color: rgb(234, 234, 234);
    -fx-padding: 5px;
    -fx-background-color: rgb(255, 255, 255);
}
.dashboard .inventory-button{
    -fx-background-color: rgb(255, 255, 255);
    -fx-padding: 5px;
    -fx-text-fill: rgb(132, 132, 132);
    -fx-font-weight: bold;
}
.dashboard .exit-inventory-button{
    -fx-background-color: rgb(255, 0, 0);
    -fx-padding: 7px;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;
}
.dashboard .article-box{
    -fx-border-width: 1px;
    -fx-border-color: rgb(234, 234, 234);
    
}
.table-view{
    -fx-border-width: 0.5px;
    -fx-border-color: rgb(235, 235, 235)    ;
}
.column-header{
    -fx-text-fill: rgb(122, 122, 122);

}
.table-view .table-column{
    -fx-alignment: center-left;
    -fx-text-fill: rgb(91, 91, 91);
}
.table-view .action-column{
    -fx-alignment: center;
}
.table-view .action-btn{
    -fx-padding :3px;
    -fx-text-fill: rgb(0, 0, 0);
}
.table-row-cell {
    -fx-text-fill: rgb(0, 0, 0);
    /* -fx-background-color:rgb(219, 219, 219); */
}
.table-view .table-row-cell:focused {
    -fx-background-color:rgb(234, 234, 234);
}
.table-view:focused {
    -fx-focus-color: rgb(207, 207, 207);
    -fx-faint-focus-color: #ffffff00;
}   
.dashboard .menu-pane{
    -fx-background-color:rgb(255, 255, 255);
    -fx-border-color: rgb(234, 234, 234);
}
.dashboard .menus .no-active{
    -fx-text-fill: rgb(255, 255, 255);
}
.dashboard .menus .no-active:hover{
    -fx-text-fill: rgb(36, 36, 36);
    -fx-font-size:1.1em;
}
.dashboard .menus .active{
    -fx-text-fill: rgb(36, 36, 36);
    -fx-font-size:1.1em;
}

.dashboard .menus .active:hover{
    -fx-text-fill: rgb(36, 36, 36);
    -fx-font-size:1.1em;
    /* -fx-font-weight: bold; */
}
.dashboard .menus .no-active .item-label{
    -fx-padding :.8em 5px;
    -fx-text-fill: rgb(110, 110, 110);
}
.dashboard .menus .active .item-label{
    -fx-text-fill: rgb(36, 36, 36);
    -fx-font-size:1.1em;
}
.dashboard .menus .no-active .item-label:hover{
    
}
.dashboard .form{
    -fx-background-color: #ffffff;
    -fx-padding :5px;
    -fx-border-width: 1px;
    -fx-border-color: rgb(234, 234, 234);
}
.textfield{
    -fx-text-fill: rgb(106, 106, 106);
    -fx-background-color: #fbfbfb;
    -fx-border-color: rgb(235, 235, 235);

}
.dashboard .information{
    -fx-border-width: 1px;
    -fx-border-color: rgb(234, 234, 234);
    -fx-background-color: #dedede
}
.dashboard .box{
    -fx-border-width: 1px;
    -fx-border-color: rgb(235, 235, 235);
    -fx-background-color: rgb(255, 255, 255);
}
.seller .box{
    -fx-border-width: 1px;
    -fx-border-color: rgb(235, 235, 235);
    -fx-background-color: rgb(255, 255, 255);
}
.stockist .box{
    -fx-border-width: 1px;
    -fx-border-color: rgb(235, 235, 235);
    -fx-background-color: rgb(255, 255, 255);
}
.dashboard .box-layout{
    -fx-border-width: 1px;
    -fx-border-color: rgb(234, 234, 234);
    -fx-background-color: #ffffff;
}
.dashboard .box-layout-pane{
    -fx-border-color: rgb(202, 202, 202);
    -fx-background-color: #ffffff;
}
.dashboard .gridpane{
    -fx-background-color: #ffffff;
    -fx-border-color: rgb(255, 255, 255);
}
.color{
    -fx-background-color: #484848;
}
.dashboard .active .box{
    -fx-background-color: #f2f2f2;
    -fx-border-width: 1px;
    -fx-border-color: rgb(235, 235, 235);
    -fx-font-weight: bold;
}
.scrollpane{
    -fx-background-color: #ffffff;
}
.image-view{
    -fx-border-color: rgb(212, 212, 212);
    -fx-background-color: #8d4141;
}
.layout{
    -fx-border-width: 1px;
    -fx-border-color: rgb(234, 234, 234);
    -fx-background-color: #ffffff;
}
.buttons{
    -fx-background-color: #ffffff00;
}
.search{
    -fx-background-color: #a51a1a;
    -fx-border-color: rgb(246, 246, 246)
}
.no-border{
    -fx-text-fill: #acacac;
    -fx-background-color: rgba(108, 108, 108, 0)
}
.bg-white{
    -fx-background-color: #ffffff;
}
.box-transparent{
    -fx-background-color: #8585857b;
    -fx-border-width: 1px;
    -fx-border-color: rgb(235, 235, 235)
}




